@tailwind base;
@tailwind components;
@tailwind utilities;

.signup {
  animation-name: rollDown;
  animation-duration: 0.5s;
}
@keyframes rollDown {
  from {
    top: -50%;
  }
  to {
    top: 0rem;
  }
}
@media (min-width: 1024px) {
  @keyframes rollDown {
    from {
      top: -50%;
    }
    to {
      top: 9rem;
    }
  }
}
.moreHome {
  animation-name: moreHome;
  animation-duration: 0.5s;
}
@keyframes moreHome {
  from {
    top: -50%;
  }
  to {
    top: 2.5rem;
  }
}
.menuHome {
  animation-name: menuHome;
  animation-duration: 0.5s;
}
@keyframes menuHome {
  from {
    top: -50%;
  }
  to {
    top: 5.5rem;
  }
}

.updateInfo {
  animation-name: updateInfo;
  animation-duration: 0.5s;
}
@keyframes updateInfo {
  from {
    top: -50%;
  }
  to {
    top: 50%;
  }
}

*::-webkit-scrollbar {
    display: none;
    height: 10px;
  }
  .suggestedContainer::-webkit-scrollbar{
      display: flex;
  }
  .suggestedContainer::-webkit-scrollbar-thumb {
    background-color: #fffbfb;
    border-radius: 10px;
    width: 5px;
  }